// SPDX-License-Identifier: GPL-2.0+ OR MIT
//
// Device Tree Source for Akebi96 Development Board
//
// Copyright (C) 2015-2017 Socionext Inc.
//   Author: Masahiro Yamada <yamada.masahiro@socionext.com>
//           Kunihiko Hayashi <hayashi.kunihiko@socionext.com>

/dts-v1/;
#include "uniphier-ph1-ld20.dtsi"

/ {
	model = "Akebi96 Development Board";
	compatible = "socionext,ph1-ld20-akebi96", "socionext,ph1-ld20";

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "earlycon";
	};

	aliases {
		serial0 = &serial0;
		serial1 = &serial1;
		serial2 = &serial2;
		serial3 = &serial3;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		i2c5 = &i2c5;
	};

	memory {
		device_type = "memory";
		reg = <0 0x80000000 0 0xc0000000>;
	};
};

&serial0 {
	status = "okay";
};

&serial2 {
	status = "okay";
};

&serial3 {
	status = "okay";
};

&i2c0 {
	status = "okay";
};

&i2c4 {
	status = "okay";
};

&emmc {
	status = "okay";
};

&usb {
	status = "okay";
};

&eth {
	status = "okay";
	phy-handle = <&ethphy>;
};

&mdio {
	ethphy: ethphy@0 {
		reg = <0>;
	};
};

&pcie {
	status = "okay";
};

&spi3 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	usb-over-spi@0 {
		compatible = "maxim,max3421-udc";
		reg = <0>;
		spi-max-frequency = <12500000>;
		interrupt-parent = <&gpio>;
		interrupts = <0 2>, <10 3>;
	};
};

&gpio {
	xirq0 {
		gpio-hog;
		gpios = <UNIPHIER_GPIO_IRQ(0) 1>;
		input;
	};
	xirq10 {
		gpio-hog;
		gpios = <UNIPHIER_GPIO_IRQ(10) 1>;
		input;
	};
};

&pinctrl_ether_rgmii {
	tx {
		pins = "RGMII_TXD0", "RGMII_TXD1", "RGMII_TXD2",
		       "RGMII_TXD3", "RGMII_TXCTL";
		drive-strength = <12>;
	};

	txclk {
		pins = "RGMII_TXCLK";
		drive-strength = <9>;
	};
};

&soc {
	sound {
		/delete-property/ simple-audio-card,widgets;
		/delete-node/ simple-audio-card,dai-link@0;
		/delete-node/ simple-audio-card,dai-link@1;
		/* 2: SPDIF */
		/delete-node/ simple-audio-card,dai-link@3;
		/delete-node/ simple-audio-card,dai-link@4;
		/delete-node/ simple-audio-card,dai-link@5;
		/delete-node/ simple-audio-card,dai-link@6;
		/delete-node/ simple-audio-card,dai-link@7;
	};

	frontend {
		compatible = "socionext,uniphier-ld20-mn884434-helene";
		clock-names = "demod-mclk";
		clocks = <&demod_clk>;
		demux = <&hsc>;
		reset-demod-gpios = <&gpio UNIPHIER_GPIO_PORT(24, 0) GPIO_ACTIVE_LOW>;
		demod-i2c-bus = <&i2c0>;
		reset-tuner-gpios = <&gpio UNIPHIER_GPIO_PORT(0, 4) GPIO_ACTIVE_LOW>;
		tuner-i2c-bus = <&i2c4>;
	};
};
