# SPDX-License-Identifier: GPL-2.0
config DVB_UNIPHIER
	tristate "Socionext UniPhier Frontend"
	depends on DVB_CORE && OF
	depends on ARCH_UNIPHIER || COMPILE_TEST
	select FW_LOADER
	select REGMAP_MMIO
	help
	  Driver for UniPhier frontend for MPEG2-TS input/output,
	  demux and descramble.
	  Say Y when you want to support this frontend.

config DVB_UNIPHIER_LD11
	bool "Support UniPhier LD11/LD20 HSC Device Driver"
	depends on DVB_UNIPHIER
	help
	  Driver for the HSC (High speed Stream Controller) for
	  UniPhier LD11/LD20.
	  Say Y when you want to support this hardware.

config DVB_UNIPHIER_LD11_ISDB
	tristate "Support UniPhier LD11 ISDB adapters"
	depends on DVB_UNIPHIER
	select DVB_MN88443X if MEDIA_SUBDRV_AUTOSELECT
	select DVB_HELENE if MEDIA_SUBDRV_AUTOSELECT
	help
	  Driver for LD11 ISDB-S/T adapters which use
	  Demux: Socionext LD11 HSC
	  Demod: Socionext MN884433
	  Tuner: SONY HELENE (CXD2858ER)
	  Say Y when you want to support this adapters.

config DVB_UNIPHIER_LD20_ISDB
	tristate "Support UniPhier LD20 ISDB adapters"
	depends on DVB_UNIPHIER
	select DVB_MN88443X if MEDIA_SUBDRV_AUTOSELECT
	select DVB_HELENE if MEDIA_SUBDRV_AUTOSELECT
	help
	  Driver for LD20 ISDB-S/T adapters which use
	  Demux: Socionext LD20 HSC
	  Demod: Socionext MN884434
	  Tuner: SONY HELENE (CXD2858ER)
	  Say Y when you want to support this adapters.
